html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#portfolio-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #main-nav {
        flex-direction: column;
    }
}

#content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-section {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.content-section.active {
    left: 0;
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.content-section.leaving {
    left: -100%;
    opacity: 0;
}

.nav-button img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button img:hover {
    transform: scale(1.1);
}