.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 100vh;
}
    
.div1 {
    grid-row: span 6 / span 6;
    background-color: bisque;
    align-items: center;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    background-color: bisque;
}

.div3 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    background-color: bisque;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
    background-color: bisque;
}

/* Navbar Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: bisque;
  height: 100vh;
  position: fixed;
}

li {
  text-align: center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}